DATABASE_URL=postgresql://billboard:billboard@127.0.0.1:5432/billboard_dev?schema=public
AUTH_SECRET=replace-me
SEED_HOUSEHOLD_NAME=Household
SEED_USER_A_EMAIL=lehary@home.com
SEED_USER_A_PASSWORD=10212286
SEED_USER_A_NAME=老公
SEED_USER_B_EMAIL=noma@home.com
SEED_USER_B_PASSWORD=10212286
SEED_USER_B_NAME=老婆
